<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>CUBS2BEAR</title>
    <link rel="stylesheet" href="/css/style.css"
  </head>
  <body>
<header>

// suggestion: NAV BAR CAN BE A BOOTSTAP ???? OF SOME SORT
  // login handlebar should be created 
          // sign up handlbar should be created 
 <h1 class="title"> CUBS2BEARS </h1>
      <nav>
        <ul>
          <li><a href="/" class="nav-bar">Home</a></li>
           <li><a href="/profile" class="nav-bar">Profile</a></li>
          {{#if loggedIn}}
            <li><button id="logout">Logout</button></li>
            <script src="/js/logout.js"></script>
          {{else}}
          <li><a href="/login" class="nav-bar">LOG IN</a></li>
          {{/if}}
        </ul>
      </nav>
       
</header>


 <main>
      <div class="card-container">
        {{{body}}}
      </div>
 </main>

    <footer> // CONTACT US, ETC. </footer>
  </body>
</html>