<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Product</th>
      <th scope='col'>Price</th>
      <th scope='col'>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each cartItems as |cartItem|}}
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{quantity}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>