// this can be a card and/or form group
// remember to link! 

<div class="login-card">
    <div class="page-title">Login</div>
 <form class="login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login"/>
</div>
    <div class="form">
    <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
</div>
    <div class="form">
    <button class="btn" type="submit">login</button>
</div>
 </form>
    <a href="/">DONT HAVE AN ACCOUNT? SIGN UP HERE!</a>
</div>
</div>

<script src=""></script>