<div class='card-container m-auto'>
  <div class='d-flex justify-content-center'>
    <div class='card-login'>
      <div class='page-title-login'><p class='text-center'>LOGIN</p></div>

      <form class='login-form'>
        <div class='form-group'>
          <label for='username-login'>USERNAME:</label>
          <br />
          <input class='form-input-login' type='text' id='username-login' />
        </div>
        <div class='form'>
          <label for='password-login'>PASSWORD:</label>
          <br />
          <input class='form-input-login' type='password' id='password-login' />
        </div>
        <div class='form'>
          <div class='d-flex justify-content-center'>
            <button class='btn-login' type='submit'>Login</button>
          </div>
        </div>
      </form>
      <a href='/signup'>DONT HAVE AN ACCOUNT? SIGN UP HERE!</a>
    </div>
  </div>
</div>
<script src='/js/login.js'></script>