<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="login-card">
    <div class="page-title">Login</div>
 <form class="login-form">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login"/>
</div>
    <div class="form">
    <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
</div>
    <div class="form">
    <button class="btn" type="submit">login</button>
</div>
 </form>
    <a href="/signup">DONT HAVE AN ACCOUNT? SIGN UP HERE!</a>
</div>
</div>

<script src="/js/login.js"></script>