{{#each products as |product|}}
  <h2>{{name}}</h2>
  <button><a href='/profile/edit/{{id}}'> Edit Product Listing</a></button>
{{/each}}

<h3>Hello this is profile</h3>

<button><a href='/profile/new'> Add New Product!</a></button>