<div class="login-card">
    <div class="page-title"><h1>Sign Up</h1></div>
    <form class="login-form">
        <div class="form-group">
            <label for="username-login">Email:</label>
            <input class="form-input" type="text" id="email-signup"/>
        </div>
        <div class="form-group">
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-signup"/>
        </div>
        <div class="form">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-signup1"/>
        </div>
        <div class="form">
            <label for="password-login">Confirm Password:</label>
            <input class="form-input" type="password" id="password-signup2"/>
        </div>
        <div class="form">
            <button class="btn" type="submit">Sign Up</button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>