:root {
    --mintgreenheader: #DDFAEF;
    --yellowbg: #FEF9E6;
    --bluefooter: #679AE5;
    --redbutton: #ED8A8A;
    --whitecards: #FFFFFF;
    --fontblue: #0167FF;
    --redbright: #FB7777;
    --orange: #F8B941;
    --yellow:#E7D643;
    --green:#9AD8AB;
  }